{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h1 class="center">Cards</h1>
        <section>
            <h4>Länkar</h4>
            <p>
                <p>Här kan du se hela <a href="{{ path('show_deck') }}">leken</a>. <code>/card/deck</code></p><br>
                <p>Här kan du blanda <a href="{{ path('shuffle_deck') }}">leken</a>. <code>/card/shuffle</code></p><br>
                <p>Här kan du dra ett kort ur <a href="{{ path('cards') }}">leken</a>. <code>/card/draw</code></p><br>
                <p>Här kan du dre ett specifikt kort ur <a href="{{ path('cards') }}">leken</a>. <code>/card/draw/:number</code></p>
            </p><br>
            <h4>Mina klasser</h4>
            <p>
                Jag har gjort mina klasser.
            </p><br>
            <h4>UML</h4>
            <p>
                <a href="{{ asset('img/2_of_clubs-min.svg') }}">
                    <img src="{{ asset('img/2_of_clubs-min.svg') }}" alt="">
                </a>
            </p><br>
        </section><br>
{% endblock %}