{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h1 class="center">Cards</h1>
        <section>
            <h4>Länkar</h4>
            <p>
                <p><a href="{{ path('show_deck') }}">Här kan du se hela leken</a>. <code>/card/deck</code></p><br>
                <p><a href="{{ path('shuffle_deck') }}">Här kan du blanda leken</a>. <code>/card/deck/shuffle</code></p><br>
                <p><a href="{{ path('draw_card') }}">Här kan du dra ett kort ur leken</a>. <code>/card/deck/draw</code></p><br>
                <p><a href="{{ path('draw_specific_card', {number:1}) }}">Här kan du dra ett specifikt kort ur leken</a>. <code>/card/deck/draw/:number</code></p><br>
            </p><br>
            <h4>Mina klasser</h4>
            <p>
                Jag har två klasser, Card och DeckOfcards. Card klassen
                har ett namn som man kan sätta och hämta. DeckOfcards använder
                sig av card objekt genom att spara dem i en array.
            </p><br>
            <h4>UML</h4>
            <p>
                <img class="img" src="{{ asset('img/uml.png') }}" alt="">
            </p><br>
        </section><br>
{% endblock %}