{% extends "base/game_base.html.twig" %}

{% block title %}Drawn Card{% endblock %}

{% block body %}
    <section>
        <h4 class="game-text">Husets Hand: <strong>{{ housePoints }}</strong></h4>
        <div class="border-cards dealer-cards">
            <div class="center-cards">
                {% for card in house %}
                    <img class="card-bj" src="{{ asset('img/'~ card ~'-min.svg') }}" alt="">
                {% endfor %}
            </div>
        </div>
        <h4 class="game-text">Din Hand: 
            <strong>
                {{ playerPoints }} {% if playerPoints > 21 %}(Busted){% endif %}
            </strong>
        </h4>
        <div class="border-cards your-cards">
            <div class="center-cards">
                {% for card in player %}
                    <img class="card-bj" src="{{ asset('img/'~ card ~'-min.svg') }}" alt="">
                {% endfor %}
            </div>
        </div>
        <form method="post" action="">
            <div class="game-buttons">
                <input class="button" type="submit" name="draw" value="STÅ"
                    onClick="this.form.action='{{ houseDraw }}';">
                {% if playerPoints < 21 %}
                    <input class="button" type="submit" name="draw" value="DRA"
                    onClick="this.form.action='{{ playerDraw }}';">
                {% else %}
                    <input class="grey-button" type="submit" name="draw" value="Busted"
                    onClick="this.form.action='{{ playerDraw }}';">
                {% endif %}
            </div>
        </form>
    </section>
{% endblock %}