{% extends "base/game_base.html.twig" %}

{% block title %}Drawn Card{% endblock %}

{% block body %}
    <section>
        <h4 class="game-text">Husets Hand: <strong>{{ housePoints }}</strong></h4>
        <div class="border-cards dealer-cards">
            <div class="center-cards">
                {% for card in house %}
                    <img class="card-bj" src="{{ asset('img/'~ card ~'-min.svg') }}" alt="">
                {% endfor %}
            </div>
        </div>
        {% if message != "" %}
            <h1 class="game-text center-text ending-text">{{ message }}</h1>
        {% endif %}
        <h4 class="game-text">Din Hand: 
            <strong>
                {{ playerPoints }} {% if playerPoints > 21 %}(Busted){% endif %}
            </strong>
        </h4>
        <div class="border-cards your-cards">
            <div class="center-cards">
                {% for card in player %}
                    <img class="card-bj" src="{{ asset('img/'~ card ~'-min.svg') }}" alt="">
                {% endfor %}
            </div>
        </div>
        <form method="post" action="">
            <div class="game-buttons">
                {% if gameStatus == "Stand" or gameStatus == "Done"%}
                    <div class="grey-button">STÅ</div>
                    <div class="grey-button">Busted</div>
                {% elseif playerPoints < 21 %}
                    <input class="button" type="submit" name="draw" value="STÅ"
                    onClick="this.form.action='{{ houseDraw }}';">
                    <input class="button" type="submit" name="draw" value="DRA"
                    onClick="this.form.action='{{ playerDraw }}';">
                {% else %}
                    <input class="button" type="submit" name="draw" value="STÅ"
                    onClick="this.form.action='{{ houseDraw }}';">
                    <div class="grey-button">Busted</div>
                {% endif %}
            </div>
        </form>
        {% if gameStatus == "Done"%}
            <div class="game-buttons">
                <a class="button end-button" href="{{ path('black_jack_restart') }}">Spela Igen</a>
            </div>
        {% endif %}
    </section>
{% endblock %}