<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="black-bg">
        <header class="adv-head">
            <nav class="adv-n">
                <ul>
                    <li><a href="{{ path('project') }}">Home</a></li>
                    <li><a href="{{ path('about_project') }}">About</a></li>
                    <li><a href="{{ path('project_api') }}">API</a></li>
                    <li><a href="{{ path('index') }}">Report</a></li>
                </ul>
            </nav>
        </header>
        <main class="adv-game">
            {% block body %}{% endblock %}
        </main>
        <footer class="adv-footer">
            <div class="adv-footer-text">
                <p class="center">&copy; Miyarima</p>
            </div>
        </footer>
    </body>
</html>
