{% extends "adventure/adv_base.html.twig" %}

{% block title %}Hero's Quest{% endblock %}

{% block body %}
    <h1 class="adv-title">API</h1>
        <section>
            <p class="text">
                Dessa retunerar meddelanden som visas genom spelet, samt 
                de som kommer up när man göra 'look' kommandet!
            </p>
            <div class="adv-buttons">
                <a class="adv-btn" href="{{ path('path_message_api') }}">Path Message och Look</a>
            </div>
            <div class="adv-buttons">
                <a class="adv-btn" href="{{ path('house_message_api') }}">House Message och Look</a>
            </div>
            <div class="adv-buttons">
                <a class="adv-btn" href="{{ path('cave_message_api') }}">Cave Message och Look</a>
            </div>
            <div class="adv-buttons">
                <a class="adv-btn" href="{{ path('dungeon_message_api') }}">Dungeon Message och Look</a>
            </div>
        </section><br>
        <section>
            <p class="text">
                Spelarens inventory!
            </p>
            <div class="adv-buttons">
                <a class="adv-btn" href="{{ path('inventory_api') }}">Inventory och Stats</a>
            </div>
        </section><br>
        <section>
            <p class="text">
                Train Kommandet!
            </p>
            <div class="adv-buttons">
                <a class="adv-btn" href="{{ path('cave_train_api') }}">Train</a>
            </div>
        </section><br>
        <section>
            <p class="text">
                varje gång denna sidan laddas om återställs databasen. Så om du vill se
                både meddelanden för rummen behöver du ladda om den sidan. Samma med Train,
                om du vill öka mer än en gång ladda om den sidan.
            </p>
        </section><br>
{% endblock %}
