{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <h1 class="center">Magic number</h1>
    <p class="center">Welcome to my awesome magical homepage.</p>
    {% if (number < 50) %}
        <p class="center">The number is below 50 (<strong>{{ number }}</strong>) so you will see Mos</p><br>
    {% else %}
        <p class="center">The number is 50 or above (<strong>{{ number }}</strong>) so you will see Glider</p><br>
    {% endif %}

    <div class="center-div">
        {% if (number >= 50) %}
            <a href="{{ asset('img/glider.svg') }}">
                <img src="{{ asset('img/glider.svg') }}" alt="">
            </a>
        {% else %}
            <a href="{{ asset('img/mos.png') }}">
                <img src="{{ asset('img/mos.png') }}" alt="">
            </a>
        {% endif %}
    </div>
{% endblock %}