{% extends 'base/base.html.twig' %}

{% block title %}Biblioteket{% endblock %}

{% block body %}
    <h1 class="center-text">Alla böker i biblioteket.</h1>
    <section class="all-books">
        {% for book in books %}
            <a href="{{ path('show_book_by_id', {bookId:book[1]}) }}">
                {% set imagePath = 'img/' ~ book[0] ~ '.jpg' %}
                {% set fileExists = file_exists(imagePath) %}
                {% if fileExists %}
                    <img src="{{ asset('img/'~ book[0] ~'.jpg') }}" alt="">
                {% else %}
                    <img src="{{ asset('img/default.jpg') }}" alt="">
                {% endif %}
            </a>
        {% endfor %}
    </section><br>
    <div class="game-buttons">
        <a class="button" href="{{ path('library') }}">Gå Till Startsidan</a>
        <a class="button" href="{{ path('form_book') }}">Lägg Till en Bok</a>
    </div>
{% endblock %}