{% extends 'base/base.html.twig' %}

{% block title %}Add New Book{% endblock %}

{% block body %}
    <h1 class="center-text">{{ title }}.</h1>
    <section class="single-book">
        <img src="{{ asset('img/'~ img ~'.jpg') }}" alt="">
        <div>
            <h4><strong>Titel:</strong> {{ title }}</h4>
            <h4><strong>Författare:</strong> {{ author }}</h4>
            <h4><strong>ISBN:</strong> {{ isbn }}</h4>
        </div>
    </section><br>
    <form>
        <input class="button" type="submit" value="Gå Till Startsidan"
        onClick="this.form.action='{{ libraryUrl }}';">
    </form>
{% endblock %}